
.pageContainer{
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    padding-left: 2cap;
}


.class-page-content {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 65px;
  margin-left: 16cap;
  width: 90vw
}

.class-sidebar {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 1.5rem rgb(172, 220, 252);
    height: fit-content;
}

.class-content{
    max-width: 65%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 1.5rem rgb(172, 220, 252);

}

.class-sidebar-item {
    color: white;
    background-color: #9ecafc;
    padding: 16px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #043eff;

}

.class-sidebar-item-active {
    color: white;
    padding: 16px;
    background-color: #3b94fa;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #043eff;

}

.class-header {
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
  padding: 20px;
  background: #b0c9f1;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;

}

.student-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.assessmentsButton{
    border-radius: 10px;
    border: none;
    color: white;
    padding: 6px 10px;
    
    text-decoration: none;
    background-color: green;
    width: fit-content;
}

.assessmentsButton:hover{
    border-radius: 10px;
    border: none;
    color: white;
    padding: 6px 10px;
    text-decoration: none;
    background-color: rgb(0, 168, 0);
}

.assessmentsButton:active{
    border-radius: 10px;
    border: none;
    color: rgb(165, 165, 165);
    padding: 6px 10px;
    text-decoration: none;
    background-color: rgb(0, 114, 0);
}

.attendanceButton{
    border-radius: 10px;
    border: none;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    margin-top: 1rem;
    background-color: #004780;
    width: fit-content
}

.attendanceButton:hover{
    background-color: #0062b3;

}