.class-row-item{
    background-color: #c9f1bf;;
}

.class-row-item > .accordion-header .accordion-button {
  background-color: #1e8505; 
  color: #ffffff;
  font-weight: 600;
}

.class-row-item > .accordion-header .accordion-button:hover {
  background-color: #249c05; 
}

.class-row-item .accordion-button:focus {
  box-shadow: none;
}
