.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  width: 400px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #3b82f6;
}

.header-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.header-row button {
  background: #6ea8fe;
  border-radius: 20px;
  padding: 8px 16px;
}


.student-list {
  width: 700px;
  margin-top: 20px;
}

.student-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

